$color-one:#031926;
$color-two:#F2F5EA;
$color-three:#FF9B42;
$color-four:#895737;
$color-five:#5E3023;

/*Temporary class*/
.test {
    border: 1px solid red;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    background: rgba($color-two, 0.1);
    color: $color-one;
    margin: 0;
    padding: 0;
    section {
        padding: 10vh 0;
    }
    footer {
        padding: 5vh 0;
    }
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.75rem;
    }
}

nav{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top: 2vh;
        .container-fluid {
        font-size: 1.5rem;
        padding: 0.25rem 0;
        background-color: none;
        text-decoration: none;
        margin: 0;
        .navbar {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;   
            .nav-logo{
                &:hover{
                    transform: translateX(5%);
                    scale: 110%;
                    transition: all 0.2s ease-in-out;
                }
                .brand-name {
                    max-width: fit-content;
                    color: $color-three;
                    font-size: 1.75rem;
                    text-decoration: none;
                    font-weight: bold;
                    font-family: 'Lobster', sans-serif;
                }
            }
            .nav-menu {
                text-align: center;
                margin-top: 0.1rem;
                .menu-row {
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    .menu-item {
                        position: relative;
                        min-width: 75px;
                        width: 100%;
                        height: 100%;
                        margin: auto;
                        &:hover{
                            scale: 110%;
                            transition: all 0.2s ease-in-out;
                        }
                        a {
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            color: $color-two;
                            text-decoration: none;
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}

.splash {
    /*Width overflowing*/
    background-image: url("https://i.postimg.cc/DZ00fSbZ/pexels-vlada-karpovich-4452641.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: $color-two;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        position: absolute;
        background-image: linear-gradient(180deg, rgba(0,0,0,0.7), rgba(0,0,0,0));
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        content: '';
        left: 0;
        top: 0;
        z-index: 0;
        }
    .splash-inner {
        z-index: 3;
        button { /* radius change */
            margin-top: 0.5rem;
            padding: 0.75rem;
            font-weight: 100;
            border-radius: 0.5rem;
            background-color: $color-three;
            color: $color-two;
            border-style: none;
            &:hover{
                scale: 110%;
                transition: all 0.2s ease-in-out;
            }
        }
    }
}

.services{
    .container{
        text-align: center;
        .services-title {
            margin-bottom: 8vh;
        }
        .services-items {
            justify-content: center;
            i {
                font-size: 2rem;
                margin-bottom: 0.5rem;
                padding: 1rem;
                border: 0.2rem solid $color-four;
                color: $color-four;
                border-radius: 100rem;
            }
            .services-box {
                margin: 2vh 0;
                max-width: 80%;
            }
        }
    }
}

.portfolio {
    text-align: center;
    background-color: rgba($color-four, 0.1);
    padding: 0;
    padding: 5vh 0;
    .row {
        display:flex;
        justify-content: space-around;
    }
    .portfolio-box{
        background: white;
        padding: 0;
        max-width: 300px;
        margin: 3vh 0.5vw;
    }
    img {
        max-width: 300px;
        max-height: 300px;
        padding: 0;
        object-fit: cover;
        width:100%;
    }
}

footer {
    justify-content: flex-start;
    .text-box{
        text-align: center;
        margin-bottom: 0.25rem;
    }
    .icon-box{
        .row{
        justify-content: center;
        align-items: center;
            i{
                margin: 0 0.2rem;
                padding: 0 0.25rem;
                font-size: 1.5rem;
                &:hover{
                    scale: 110%;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}
